/*------------------------
--Mobile-Layout-Portrait--
------------------------*/

.toggle-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Toggle Switch Variables */
    --switch-width: 4rem;
    --switch-height: 1rem;
    --slider-width: 1.2rem;
    --switch-padding: 0.25rem;
}

.switch-label {
    font-weight: 400;
    font-size: var(--fs-m);
    text-shadow: 1px 1px hsl(var(--clr-rose-hue), var(--clr-rose-sat), var(--clr-rose-lit));
    color: hsl(var(--clr-yellow-hue), var(--clr-yellow-sat), var(--clr-yellow-lit));
    margin-bottom: 1em;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: var(--switch-width);
    height: var(--switch-height);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    box-shadow: inset 0px 0px 1px 2px #aaa;
    transition: background 0.4s ease;
    outline: 1px solid hsl(var(--clr-yellow-hue), var(--clr-yellow-sat), var(--clr-yellow-lit));
}

.slider:before {
    position: absolute;
    content: '';
    width: var(--slider-width);
    /* Uncomment line below. Slider will be constrained by switch height */
    /* height: calc(var(--switch-height) - (2 * var(--switch-padding))); */
    /* Uncomment line below. Slider will exceed switch height */
    height: calc((var(--switch-height) * 1) + (2.5 * var(--switch-padding)));

    left: var(--switch-padding);
    top: calc(50%);
    background: linear-gradient(
        to bottom right,
        hsl(var(--clr-rose-hue), var(--clr-rose-sat), var(--clr-rose-lit)),
        hsl(var(--clr-rose-hue), var(--clr-rose-sat), 50%)
    );
    box-shadow: inset 0px 0px 1px 1px hsl(var(--clr-rose-hue), var(--clr-rose-sat), 40%);
    outline: 1px solid hsl(var(--clr-yellow-hue), var(--clr-yellow-sat), var(--clr-yellow-lit));
    transform: translate(0, -50%);
    transition: transform 0.4s ease;
}

input:checked + .slider {
    background-color: hsl(
        var(--clr-lightblue-hue),
        var(--clr-lightblue-sat),
        var(--clr-lightblue-lit)
    );
    box-shadow: inset 0px 0px 1px 2px hsl(var(--clr-blue-hue), var(--clr-blue-sat), 50%);
}

.slider:hover::before,
input:focus + .slider::before {
    background: linear-gradient(
        to bottom right,
        hsl(var(--clr-rose-hue), var(--clr-rose-sat), var(--clr-rose-lit)) 49%,
        hsl(var(--clr-rose-hue), var(--clr-rose-sat), 45%) 51%
    );
}

input:checked + .slider:before {
    --x: calc((var(--switch-width) - var(--slider-width)) - (2 * var(--switch-padding)));
    -webkit-transform: translate(var(--x), -50%);
    -ms-transform: translate(var(--x), -50%);
    transform: translate(var(--x), -50%);
}

/*-------------------------
--Mobile-Layout-Landscape--
-------------------------*/

@media only screen and (orientation: landscape) {
    .toggle-button-container {
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        padding-right: 0.5em;
    }

    .switch-label {
        margin-bottom: 0;
        margin-right: 1em;
    }
}
