#volume {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.volume-indicator {
    display: inline-block;
    background-color: hsl(
        var(--clr-darkpurple-hue),
        var(--clr-darkpurple-sat),
        var(--clr-darkpurple-lit)
    );
    margin: 0 0.2em;
    width: 0.5em;
    height: 0.5em;
    opacity: 0.2;
    transition: opacity 0.2s ease-out;
}

.volume-indicator.active {
    width: 0.5em;
    height: 1em;
    opacity: 0.75;
}

.volume-indicator.off {
    opacity: 0.2;
}
