/*------------------------
--Mobile-Layout-Portrait--
------------------------*/

#display-container {
    display: grid;
    grid-template-areas:
        'volume bank'
        'main main';
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    background-color: hsl(var(--clr-white-hue), var(--clr-white-sat), var(--clr-white-lit));
}

#volume {
    grid-area: volume;
    margin-left: 0.4em;
}

/* Toggle Display Component */
#toggle-display-container {
    grid-area: bank;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.bank-indicator.active {
    opacity: 1;
}

.bank-indicator,
.bank-indicator.disabled {
    margin-top: 0.2em;
    margin-right: 0.4em;
    opacity: 0.2;
    transition: opacity 0.2s ease-out;
    color: hsl(var(--clr-darkpurple-hue), var(--clr-darkpurple-sat), var(--clr-darkpurple-lit));
    font-size: var(--fs-s);
    font-weight: 400;
}

#display {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(var(--clr-darkpurple-hue), var(--clr-darkpurple-sat), var(--clr-darkpurple-lit));
    font-size: var(--fs-xl);
}

/*-------------------------
--Mobile-Layout-Landscape--
-------------------------*/

@media only screen and (orientation: landscape) {
    #display-container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr fr;
    }

    #toggle-display-container {
        flex-direction: row;
    }
}
