#drum-machine {
    background-color: red;
    height: 90%;
    width: 90%;
    padding: 1em;
    display: grid;
    grid-template-areas:
        'display display'
        'power bank'
        'volume volume'
        'keypad keypad';
    grid-template-rows: 3fr 1fr 1fr 5fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5em;
}

#display-container {
    grid-area: display;
}

#power {
    grid-area: power;
}

#bank {
    grid-area: bank;
}

.drum-pad-container {
    grid-area: keypad;
}

/* Volume Slider */
.volume-slider {
    width: 95%;
    background: none;
    grid-area: volume;
}
